{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>

    <link rel="stylesheet" type="text/css" href="{% static 'css/home/about.css' %}">

</head>


<div class="container">
    <button data-text="Awesome" class="button">
        <span class="actual-text">&nbsp;About&nbsp;</span>
        <span class="hover-text" aria-hidden="true">&nbsp;About&nbsp;</span>
    </button>
    <p class="content">Sonic Nebula emerges as a cosmic force in the world of rock music, transcending boundaries and
        captivating audiences with their otherworldly soundscapes. Formed in the heart of a creative supernova, the
        band's music is a fusion of electrifying rock riffs, ethereal melodies, and thought-provoking lyrics that
        explore the depths of the human experience and the mysteries of the universe. With each performance, Sonic
        Nebula takes their listeners on a sonic journey through the vast expanse of emotions, inviting them to lose
        themselves in the interstellar tapestry they weave on stage. Their dynamic stage presence, fueled by swirling
        lights and mesmerizing visuals, transforms every concert into an unforgettable cosmic spectacle. Sonic Nebula
        isn't just a band; they're an astral phenomenon, a sonic adventure that defies the ordinary and propels rock
        music into uncharted galaxies.
        </br>
        </br>
        Sonic Nebula emerges as a cosmic force in the world of rock music, transcending boundaries and captivating
        audiences with their otherworldly soundscapes. Formed in the heart of a creative supernova, the band's music is
        a fusion of electrifying rock riffs, ethereal melodies, and thought-provoking lyrics that explore the depths of
        the human experience and the mysteries of the universe. With each performance, Sonic Nebula takes their
        listeners on a sonic journey through the vast expanse of emotions, inviting them to lose themselves in the
        interstellar tapestry they weave on stage. Their dynamic stage presence, fueled by swirling lights and
        mesmerizing visuals, transforms every concert into an unforgettable cosmic spectacle. Sonic Nebula isn't just a
        band; they're an astral phenomenon, a sonic adventure that defies the ordinary and propels rock music into
        uncharted galaxies.
    </p>

    {% endblock %}