{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sonic Nebula</title>
    <img class="background" src="{% static 'background1i.svg' %}" alt="SVG Background">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home/base.css' %}">
</head>
<body>
    <div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-secondary" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <input type="checkbox" id="menu-toggle">
    <label class="hamburger" for="menu-toggle">
        <svg viewBox="0 0 32 32">
            <path class="line line-top-bottom" d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"></path>
            <path class="line" d="M7 16 27 16"></path>
        </svg>
    </label>

    <div class="menu">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'songs' %}">Songs</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'logout_user' %}">Log Out</a></li>
        {% else %}
            <li><a href="{% url 'login_user' %}">Log In</a></li>
        {% endif %}
        </ul>
    </div>

</body>
</html>
{% block content %}
{% endblock %}