{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/songs/songs.css' %}">
</head>
<button data-text="Awesome" class="button">
    <span class="actual-text">&nbsp;Top.3.Songs&nbsp;</span>
    <span class="hover-text" aria-hidden="true">&nbsp;Top.3.Songs&nbsp;</span>
</button>

<body>
    {% for song in allSongs %}
    <div class="audio-player">
        <div class="album-cover">
            <img id="album-cover" src="{{song.songThumbnail.url}}" alt="{{song.songName}}">
        </div>
        <div class="player-controls">
            <div class="song-info">
                <div class="song-title">{{song.songName}}</div>
                <p class="artist">From - {{song.album}}</p>
            </div>
            <audio id="audio-{{ forloop.counter }}">
                <source src="{{song.song.url}}" type="audio/wav">
                Your browser does not support the audio element.
            </audio>
            <div class="progress-bar">
                <div class="progress" id="progress-{{ forloop.counter }}"></div>
            </div>
            <div class="buttons">
                <button class="play-btn" onclick="playPause('audio-{{ forloop.counter }}', 'progress-{{ forloop.counter }}')">
                    <svg viewBox="0 0 16 16" class="bi bi-play-fill" fill="currentColor"
                        height="16" width="16" xmlns="http://www.w3.org/2000/svg" style="color: white">
                        <path fill="white"
                            d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z">
                        </path>
                    </svg>
                </button>
                <button class="pause-btn" onclick="playPause('audio-{{ forloop.counter }}', 'progress-{{ forloop.counter }}')">
                    <svg viewBox="0 0 16 16" class="bi bi-pause-fill" fill="currentColor"
                        height="16" width="16" xmlns="http://www.w3.org/2000/svg" style="color: white">
                        <path fill="white"
                            d="M5.5 3.5A1.5 1.5 0 0 1 7 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5zm5 0A1.5 1.5 0 0 1 12 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5z">
                        </path>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    {% endfor %}

    <script>
        function playPause(audioId, progressId) {
            var audio = document.getElementById(audioId);
            var progress = document.getElementById(progressId);
            if (audio.paused) {
                audio.play();
                audio.addEventListener('timeupdate', function () {
                    var percentage = (audio.currentTime / audio.duration) * 100;
                    progress.style.width = percentage + '%';
                });
            } else {
                audio.pause();
            }
        }
    </script>
</body>
{% endblock content %}
